<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
  <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous"
  >
  <link rel="stylesheet" href="../css/style.css">
 

</head>
<body>
		
	<!-- Navabar -->
	<nav class="navbar navbar-expand-lg navbar-dark  bg-info">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbar10">
				<ul class="navbar-nav nav-fill w-100">
					<li class="nav-item">
						<a class="nav-link text-light" href="/">Home</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link text-light" href="/add">Add Car</a>
					</li>
				
				</ul>
			</div>
		</div>
	</nav>
	<div class="container mt-5">
		<h1 >Add</h1>
		<form class="mt-5" action="/add" method="POST">
			<div class="form-group">
				<label for="name">Image </label>
				<input 
					type="text" 
					class="form-control" 
					id="imsr" 
					name="imsr"
					placeholder="type the title..."
				/>
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<input 
					type="text" 
					class="form-control" 
					id="name" 
					name="name"
					placeholder="type the title..."
					
				/>
			</div>
			
			
			<label for="local">local</label>
				<input 
					type="text" 
					class="form-control" 
					id="local" 
					name="local"
					placeholder="type local"
				/>
				
				<label for="desc">Price</label>
				<input 
					type="text" 
					class="form-control" 
					id="price" 
					name="price"
					placeholder="type the title..."
				/>
			
			<button type="submit" class="btn btn-info  mt-5">Save</button>
		</form >
	</div>
	<div class="footer">

		&copy;
		<script>document.write(new Date().getFullYear());</script>
		<span>Elmahdi KARBAL</span>
	
	
	  </div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
